.panel-yellow {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
    color: #fff;
}

.panel-green {
    border-color: #5cb85c;
    background-color: #5cb85c;
    color: #fff;
}

.panel-blue {
    border-color: #337ab7;
    background-color: #337ab7;
    color: #fff;
}

.huge {
    font-size: 40px;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}